.git
.idea
.vscode

**/__pycache__
**/.pytest_cache
**/*.pyc

src/frontend/node_modules
src/frontend/dist
src/frontend/.pnpm
src/frontend/.npm
src/frontend/.yarn
src/frontend/.env*

src/backend/agentchat/config.yaml
src/backend/agentchat/config.local.yaml

infra/docker/docker_config.local.yaml
infra/docker/data
.local
apps/desktop/node_modules
src/frontend/*.tsbuildinfo

node_modules
tmp
*.log
*.sqlite
*.sqlite3
*.db
